name: Format

on:
  workflow_call:
    inputs:
      target:
        description: Target solution
        required: true
        type: string
      dotnet-version:
        required: false
        default: 7.0.x
        type: string
      os:
        description: Running os
        required: false
        default: ubuntu-latest
        type: string
      nuget-path:
        description: path of $NUGET_PACKAGES
        required: false
        default: ""
        type: string
      build-before-format:
        description: Build the solution before `dotnet format`
        type: boolean
        default: false
        required: false

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  DOTNET_NOLOGO: true
  NUGET_XMLDOC_MODE: skip
  NUGET_PACKAGES: ${{ inputs.nuget-path }}

jobs:
  format:
    runs-on: ${{ inputs.os }}
    steps:
      - uses: actions/checkout@v6
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ inputs.dotnet-version }}
      - uses: actions/cache@v4
        with:
          path: ${{ (inputs.nuget-path != '' && inputs.nuget-path ) || '~/.nuget/packages' }}
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj', '**/Directory.Build.props') }}
          restore-keys: |
            ${{ runner.os }}-nuget-
      - name: Build
        if: inputs.build-before-format
        run: dotnet build ${{ inputs.target }}
      - name: Format
        run: dotnet format ${{ inputs.target }} --verify-no-changes
