name: Publish NuGet & Release

on:
  workflow_call:
    inputs:
      artifact-name:
        description: Artifact name
        required: true
        type: string
      version:
        description: Build version
        required: true
        type: string
      is-prerelease:
        description: "if true, Create release as prerelease"
        required: false
        default: false
        type: boolean
      skip-nuget:
        description: if true, skip push to nuget
        required: false
        default: false
        type: boolean
    secrets:
      NUGET_KEY:
        description: "NuGet API key"
        required: true
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v6
        with:
          name: ${{ inputs.artifact-name }}
          path: dist
      - name: Push to NuGet
        if: ${{ !inputs.skip-nuget }}
        run: dotnet nuget push "./dist/*.nupkg" --skip-duplicate --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_KEY }}
      - name: New tag
        id: tag-version
        run: echo "new-tag=v${{ inputs.version }}" | tee -a "$GITHUB_OUTPUT"
      - name: Create release
        uses: ncipollo/release-action@v1
        id: create-release
        with:
          tag: ${{ steps.tag-version.outputs.new-tag }}
          name: Version ${{ inputs.version }}
          body: ${{ github.server_url }}/${{ github.repository }}/blob/${{ steps.tag-version.outputs.new-tag }}/CHANGELOG.md
          artifacts: "./dist/*.nupkg,./dist/*.snupkg"
          prerelease: ${{ inputs.is-prerelease }}
